/* Start Fonts */

/* latin */

@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v9/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* End Fonts */

/* Start Custom */
.c014 {
  background-color: #111933;
  /* 0b1021  111933*/
}

* {
  box-sizing: border-box;
  color: white;
}


body {
  font-family: 'Electrolize', sans-serif !important;
  background-image: url('../images/science-fiction-2907434_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s;
}


main {
  height: 82vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid white;
  z-index: 3;
}

header nav a:hover {
  animation: glow 1s ease-in-out infinite alternate;
  transition: 0.3s;
}

header nav a.active {
  animation: glow 1s ease-in-out infinite alternate;
  transition: 0.3s;
}

header nav .dropdown-menu {
  background-color: rgba(0, 0, 0, .5);
  
}

header nav .dropdown-item {
  color: white !important;
}


.dark-overlay {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.dark-overlay:hover {
  /* background-color: rgba(62, 108, 192, 0.2); */
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  box-shadow: 0px 0px 20px 0px white;
}

.container.dark-overlay{
  border: 2px solid #000000;
}
.container.dark-overlay:hover{
  border: 1px solid white;
}

.card.dark-overlay:hover img{
  opacity: 1;
}

.card img{
  opacity: 0.3;
  max-height: 200px;
}

.btn{
  transition: 0.5s;
}

.btn.btn-outline-info:hover{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #5bc0de;
  box-shadow: 0px 0px 30px 0px white;
  text-shadow: 0 0 15px #27e1fa;
  animation: glow 1s ease-in-out infinite alternate;
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid white;
}

.glow {
  text-shadow: 0 0 5px #27e1fa;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #111933, 0 0 20px #111933, 0 0 30px #111933;
  }
  to {
    text-shadow: 0 0 10px #27e1fa, 0 0 20px #27e1fa, 0 0 30px #27e1fa;
  }
}

img {
  max-height: 300px;
}

/* End Custom */

/* Start Timeline */

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 20px;
  width: 2px;
  height: 100%;
  z-index: 400;
  margin-top: 5px;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 10px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 10px;
  width: 20px;
  height: 20px;
  z-index: 400;
  margin-top: 5px;
}

/* End Timeline */

/* Start Progressbar */

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress {
  height: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible;
}

.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 12px;
}

.progress-bar:after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 12px;
  height: 12px;
  content: '';
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.progress-bar span {
  position: absolute;
  top: -22px;
  right: 0;
}

.progress-bar.color-1 {
  background: #2c98f0;
}

.progress-bar.color-1:after {
  background: #2c98f0;
}

.progress-bar.color-1 span {
  color: #2c98f0;
}

.progress-bar.color-2 {
  background: #ec5453;
  /* background: linear-gradient(to right,#004d91 47%, #69c4ee 100%); */
}

.progress-bar.color-2:after {
  background: #ec5453;
}

.progress-bar.color-2 span {
  color: #ec5453;
}

.progress-bar.color-3 {
  background: #f9bf3f;
}

.progress-bar.color-3:after {
  background: #f9bf3f;
}

.progress-bar.color-3 span {
  color: #f9bf3f;
}

.progress-bar.color-4 {
  background: #a84cb8;
}

.progress-bar.color-4:after {
  background: #a84cb8;
}

.progress-bar.color-4 span {
  color: #a84cb8;
}

.progress-bar.color-5 {
  background: #2fa499;
}

.progress-bar.color-5:after {
  background: #2fa499;
}

.progress-bar.color-5 span {
  color: #2fa499;
}

.progress-bar.color-6 {
  background: #4054b2;
}

.progress-bar.color-6:after {
  background: #4054b2;
}

.progress-bar.color-6 span {
  color: #4054b2;
}

/* End Progressbar */

/* Start particles js */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* End particles js */

/* Start particles js */